* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    background: white;
    font-size: 16px;
    color: black;
}
.wrap {
    width: 100%;
    margin: 0 auto;
    background: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    
  
}

.box1 {
    background: black;
    height: 100px;
    
}
.box2{
    background: rgb(36, 36, 36);
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    
    

}
.box3 {
    background: black;
    height: 100px;
   
}

.box2 .circle1 {
     text-align: start;
     width:fit-content;
      justify-content: flex-start;
    
   
}
.box2 .circle2 {
    text-align: end;
    width:fit-content;
    
    
       
      
   }
.rounded {
    
    border-radius: 50%;
    padding: 1px;
    border: 8px solid rgb(49, 47, 47);
    height: 150px;
    width: 150px;
    
}
