.flex-container {
    display: flex;
    flex-direction: row; /* This is for direction (column or row) => row-reverse*/
    /*flex-wrap: wrap; Auto responsive. (wrap-reverse) */
   /*justify-content: flex-start; flex-end, space-around,space-between,center =>it is work horizently */
   flex-wrap: wrap;

    align-items: center;/*stretch,start,end=>it is work vartically*/
    background: green;
    padding: 10px;
    height: 400px;


}
.flex-item{
    border: 1px solid #fff;
    font-size: 30px;
    padding: 20px;
    color: #fff;
    margin: 10px;
    width: 100px;/*when we use flex-basis,dont to call min-width*/ 
    flex-grow: 1;/*equally fixed place*/
    flex-shrink: 1;
    flex: 1 1 300px;/*3 in 1 => grow,shrink,basis*/

}